<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>RayoMakween</title>
</head>

<body>
    <!--barra de navegacion-->
    <header>
        <section class="BarraNavegacion">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div></div>
                <a class="navbar-brand" href="#">RayoMakween</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link navbar-dark" href="index.html">Inicio</a>
                        <a class="nav-link navbar-dark" href="Login.html">Iniciar sesion</a>
                        <a class="nav-link navbar-dark" href="service.html">Servicios</a>
                        <a class="nav-link navbar-dark" href="contact.html">Contáctanos</a>
                        <a class="nav-link navbar-dark" href="aboutus.html">Quienes somos</a>
                    </div>
                </div>
            </nav>
        </section>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <!--formulario-->
                <div class="col-4 align-self-center">
                    <div class="display-4 mb-3 text-center">Iniciar Sesion</div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">
                                Tus datos estan 100% seguros.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!--imagen taller-->
                <div class="col-8 pt-3">
                    <div class="card text-white ">
                        <img class="overflow-hidden w-auto h-auto " src="../complements/TallerM1.jpg" alt="">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Servicio Garantizado</h5>
                                <p class="card-text">Seguridad, rapidez, fiablidad <br> Taller Rayo Makween</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Option : Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous">
        </script>
</body>

</html>